h1 {
	color: blue;
	text-align: center;
}

p {
	color:darkmagenta;
}

div {
	background-color: teal;
	width: 500px;
	height: 400px;
	margin: 100px;  /* obramowanie tła */
	padding: 50px; /* obramowanie tekstu */
}
	
